In [6]:
# 패키지 불러오기

import pandas as pd
import numpy as np
import os

import re

In [7]:
os.listdir()

['서재형 이력서.pdf',
 '2020_CSAT_donghwan_bk2.xlsx',
 '2020_CSAT_ganghee_topic.xlsx',
 '.DS_Store',
 '서재형_성적증명서.pdf',
 '2020_CSAT_dongwhan_bk.xlsx',
 '2020_CSAT_Voca.ipynb',
 '2020_CSAT_ganghee_gravoca.xlsx',
 'csat_raw_01_27.xlsx',
 '2020_CSAT_jaehyeong.xlsx',
 '~$재형 이력서.docx',
 '서재형 이력서.docx',
 '2020_CSAT_ganghee_emotion.xlsx',
 '.ipynb_checkpoints',
 'csat_raw_2_3.xlsx',
 'split_paragraph_01_27.ipynb']

In [8]:
table_data = pd.read_excel('csat_raw_2_3.xlsx', decoding = 'utf-8')

In [42]:
table_data

,title,contents,number
0,The repetitive social sharing of the bad news ...,Finkenauer and Rimé investigated the memory of...,#2019 수능 31번
1,The social psychologist Serge Moscovici claims...,Minorities tend not to have much power or stat...,#2019 수능 32번
2,Thus heritage is as much about forgetting as r...,Heritage is concerned with the ways in which v...,#2019 수능 33번
3,Our brains did not have\nenough time to evolve...,The human species is unique in its ability to ...,#2019 수능 34번
4,Due to the fact that people tend to favor more...,"Biological organisms, including human societie...",#2019 수능 40번
...,...,...,...
808,Many Halloween come from the ancient practices...,The Celtic New Year was November 1. The night ...,2004년 6월 38번
809,effects of a brand name on car sales.,"In Europe, two cars roll off the same assembly...",2004년 6월 43번
810,Expanding Women's Entry into the Medical Indus...,"At the beginning of this decade, one-third of ...",2004년 6월 44번
811,Respect and be considerate to others.,"The more heartless our community becomes, the ...",2004년 6월 45번
812,You must judge yourself.,Most people have great difficulties making the...,2004년 6월 46번

In [43]:
paragraph_only = table_data['contents']

In [44]:
split_para

['Most people have great difficulties making their own decisions when they are not sure what to do',
 'They often let close friends and relatives influence them through opinions',
 'They even allow gossiping neighbors to express their thoughts for them',
 'If you are influenced by the opinions of others whenever you reach decisions, you will not succeed in anything you do',
 'Remember you have a brain and mind of your own',
 'You should use it and reach your own decisions']

In [45]:
list_dir = []

for i in range(len(paragraph_only)):
    one_para = paragraph_only[i]
    one_para = re.sub('\n', ' ', one_para)
    split_para = one_para.split('. ')
    split_para[-1] = split_para[-1] + ' {}번 문단'.format(i) 
    for idx, para in enumerate(split_para):
        
        if len(para) < 25:
            try:
                tmp = para
                del split_para[idx]
                split_para[idx] = tmp + '. ' + split_para[idx]
            except:
                pass
    list_dir.append(split_para)

In [46]:
sent_dir = []

for list_para in list_dir:
    
    for sentence in list_para:
        
        sent_dir.append(sentence)

In [47]:
sent_list = [{'sentence': sent_dir[0]}]

df = pd.DataFrame(sent_list)

df

                                            sentence
0  Finkenauer and Rimé investigated the memory of...

In [48]:
for i in range(len(sent_dir)-1):
    df.loc[i+1] = [sent_dir[i+1]]

In [49]:
df

                                               sentence
0     Finkenauer and Rimé investigated the memory of...
1     The data revealed that the news of the king’s ...
2     By talking about the event, people gradually c...
3     At the same time, they consolidated their own ...
4     Social sharing may in this way help to counter...
...                                                 ...
5315  They often let close friends and relatives inf...
5316  They even allow gossiping neighbors to express...
5317  If you are influenced by the opinions of other...
5318     Remember you have a brain and mind of your own
5319     You should use it and reach your own decisions

[5320 rows x 1 columns]

In [50]:
df.to_excel('cast_sentences_5006.xlsx', header = True, index = True)