In [8]:
# 패키지 불러오기

import pandas as pd
import numpy as np
import os

import re

In [2]:
os.listdir()

['csat_raw_01_27.xlsx', '.ipynb_checkpoints', 'split_paragraph_01_27.ipynb']

In [3]:
table_data = pd.read_excel('csat_raw_01_27.xlsx', decoding = 'utf-8')

In [4]:
table_data

,answer,contents,number
0,Asking if the recipe can be changed.,"Dear Mr. Reese, A few days ago, I submitted my...",2019년 수능 18번
1,Be wary of abstracting and uniformly conceptua...,"War is inconceivable without some image, or co...",2019년 수능 20번
2,Looking beyond what is known towards what is l...,"Although not the explicit goal, the best scien...",2019년 수능 21번
3,"In an information-based society, information h...",With the industrial society evolving into an i...,2019년 수능 22번
4,Coping with climate change by reforming aid an...,We argue that the ethical principles of justic...,2019년 수능 23번
...,...,...,...
197,Writing moves words from the sound world to th...,"With the invention of typography, spacing and ...",#2016 7월 고3 32번
198,the worst moods are reported when one is alone...,"Adolescents, adults, and old people all report...",#2016 7월 고3 33번
199,"As with the swimmers’ bodies, beauty is a fact...",As essayist Nassim Taleb resolved to do someth...,#2016 7월 고3 34번
200,Confidence in one’s memories of personal circu...,National tragedies create what psychologists c...,#2016 7월 고3 40번
201,"In the medium itself, there is nothing that ca...",Microsoft senior research fellow Malcolm Slane...,#2016 7월 고3 42번

In [21]:
paragraph_only = table_data['contents']

In [26]:
list_dir = []

for i in range(len(paragraph_only)):
    one_para = paragraph_only[i] 
    split_para = one_para.split('. ')
    split_para[-1] = split_para[-1] + ' {}번 문단'.format(i) 
    for idx, para in enumerate(split_para):
        
        if len(para) < 10: 
            tmp = para
            del split_para[idx]
            split_para[idx] = tmp + '. ' + split_para[idx]
            
    list_dir.append(split_para)

In [28]:
sent_dir = []

for list_para in list_dir:
    
    for sentence in list_para:
        
        sent_dir.append(sentence)

In [30]:
sent_list = [{'sentence': sent_dir[0]}]

df = pd.DataFrame(sent_list)

df

                                            sentence
0  Dear Mr. Reese, A few days ago, I submitted my...

In [31]:
for i in range(len(sent_dir)-1):
    df.loc[i+1] = [sent_dir[i+1]]

In [32]:
df

                                               sentence
0     Dear Mr. Reese, A few days ago, I submitted my...
1     However, I would like to change my recipe if i...
2     I have checked the website again, but I could ...
3     I couldn’t see any information about changing ...
4     I have just created a great new recipe, and I ...
...                                                 ...
1344  Physical objects tend to look different from o...
1345                         All bits are created equal
1346  The same 0s and 1s on your computer that rende...
1347  So much so that if you looked at the digital r...
1348  Information has thus become separated from mea...

[1349 rows x 1 columns]